{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="flipper" id="target">
          <div class="front">
            
            <a href="#target" class="home button btn_edit">Редактировать</a>
            <h2>{{ post['title'] }}</h2> 
            
            <span class="badge badge-primary">{{ post['created'] }}</span>
           
            <p>{{ post['content'] }}</p>
            {% set edit_post = 'edit-' + post['id']|string %}
            
            </div>
          <div class="back">
            
            <div class="inner">
                <a href="#close" class="btn_back">Назад</a>
                <form method="post" action="{{ url_for('posts_api', post_id=post['id'], _method='PATCH') }}">
                    <div class="form-group">
                        <label for="title">Название</label>
                        <input type="text" name="title" placeholder="Post title"
                               class="form-control"
                               value="{{ request.form['title'] or post['title'] }}">
                    </div>
                
                    <div class="form-group">
                        <label for="content">Содержание</label>
                        <textarea name="content" placeholder="Post content"
                                  class="form-control edit-content">{{ request.form['content'] or post['content'] }}</textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Опубликовать</button>
                    </div>
                </form>
                <hr>
                <form action="{{ url_for('posts_api', post_id=post['id'], _method='DELETE') }}" method="POST">
                    <input type="submit" value="Удалить пост"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('Вы действительно хотите удалить пост?')">
                </form>
              </div>
            </div>
          </div>
      </div>
{% endblock %}
